<div class="header-section clearfix">
    <h1 class="hello text-center hide js-hello">Hello!</h1>
</div>
<div class="info-section">
    <div class="offset">
        <img src="/img/photo_avatar.jpg" class="photo center-block img-circle" alt="Avatar icon">
        <h4 class="text-center">Maksym Oleinyk</h4>
        <h5 class="text-center">
            <a href="mailto:maxim.oleinyk@gmail.com" class="email">maxim.oleinyk@gmail.com</a>
        </h5>
    </div>
    <div class="comment">
        <h2 class="text-center">I'm trying to make a dent in universe.</h2>
    </div>
</div>
