<header class="header-section clearfix relative">
    <h1 class="hello text-center hide js-hello">Hello!</h1>
</header>
<section class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 relative">
                <div class="offset">
                    <img src="/img/avatar.jpg" class="photo center-block img-circle" alt="Avatar icon">

                    <div class="name text-center">Maksym Oleinyk</div>
                    <div class="email text-center">
                        <a href="mailto:maxim.oleinyk@gmail.com">maxim.oleinyk@gmail.com</a>
                    </div>
                </div>
                <div class="comment">
                    <h2 class="text-center">I'm trying to make a dent in universe.</h2>
                </div>
            </div>
        </div>
    </div>
</section>