<div id="content"></div>
<div id="footer">
    <nav>
        <ul class="links center-block inline-children">
            <li>
                <a href="http://www.linkedin.com/profile/view?id=244438982" target="_blank"
                   title="Link to LinkedIN account">
                    <span class="fa fa-medium fa-linkedin"></span>
                </a>
            </li>
            <li>
                <a href="https://github.com/maximoleinyk" target="_blank" title="Link to GitHub account">
                    <span class="fa fa-medium fa-github"></span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/maxim_oleinyk" target="_blank" title="Link to Twitter account">
                    <span class="fa fa-medium fa-twitter"></span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/maxim.oleynik" target="_blank"
                   title="Link to facebook account">
                    <span class="fa fa-medium fa-facebook"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>