<header class="header-section clearfix relative">
    <h1 class="hello text-center hide js-hello">Hello!</h1>
</header>
<section class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 relative">
                <div class="offset">
                    <img src="/img/avatar.jpg" class="photo center-block img-circle" alt="Avatar icon">

                    <div class="name text-center">Maksym Oleinyk</div>
                    <div class="email text-center">
                        <a href="mailto:maxim.oleinyk@gmail.com">maxim.oleinyk@gmail.com</a>
                    </div>
                </div>
                <div class="comment text-center">
                    <h2>I'm trying to make a dent in universe :)</h2>

                    <p class="additional-info">
                        I create <a href="http://singlepageappbook.com" target="_blank">SPA</a>s using
                        <a href="http://coffeescript.org" target="_blank">CoffeeScript</a>,
                        <a href="http://backbonejs.org" target="_blank">Backbone</a>,
                        <a href="http://nodejs.org/" target="_blank">NodeJS</a>,
                        <a href="http://wikipedia.org/wiki/HTML5" target="_blank">HTML5</a>,
                        <a href="http://jquery.com/" target="_blank">jQuery</a><br>
                        and <a href="http://martinfowler.com/bliki/CQRS.html" target="_blank">CQRS</a> approach.
                    </p>
                </div>
                <nav>
                    <ul class="links center-block inline-children">
                        <li>
                            <a href="http://www.linkedin.com/profile/view?id=244438982" target="_blank"
                               title="Link to LinkedIN account">
                                <span class="fa fa-medium fa-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/maximoleinyk" target="_blank" title="Link to GitHub account">
                                <span class="fa fa-medium fa-github"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/maxim_oleinyk" target="_blank" title="Link to Twitter account">
                                <span class="fa fa-medium fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/maxim.oleynik" target="_blank"
                               title="Link to facebook account">
                                <span class="fa fa-medium fa-facebook"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>